<div class="dotastats-skeleton">
  <div class="dotastats-skel-header">
    <div class="dotastats-skel-block dotastats-skel-w70 dotastats-skel-h9"></div>
    <div class="dotastats-skel-block dotastats-skel-w16 dotastats-skel-h16 dotastats-skel-radius-3"></div>
  </div>
  <div class="dotastats-skel-row">
    <div class="dotastats-skel-block dotastats-skel-dot"></div>
    <div class="dotastats-skel-block dotastats-skel-hero-img"></div>
    <div class="dotastats-skel-block dotastats-skel-w90 dotastats-skel-h11"></div>
    <div class="dotastats-skel-stat-pair">
      <div class="dotastats-skel-block dotastats-skel-w32 dotastats-skel-h11"></div>
      <div class="dotastats-skel-block dotastats-skel-w36 dotastats-skel-h11"></div>
    </div>
  </div>
  <div class="dotastats-skel-row">
    <div class="dotastats-skel-block dotastats-skel-dot"></div>
    <div class="dotastats-skel-block dotastats-skel-hero-img"></div>
    <div class="dotastats-skel-block dotastats-skel-w70 dotastats-skel-h11"></div>
    <div class="dotastats-skel-stat-pair">
      <div class="dotastats-skel-block dotastats-skel-w32 dotastats-skel-h11"></div>
      <div class="dotastats-skel-block dotastats-skel-w36 dotastats-skel-h11"></div>
    </div>
  </div>
  <div class="dotastats-skel-row">
    <div class="dotastats-skel-block dotastats-skel-dot"></div>
    <div class="dotastats-skel-block dotastats-skel-hero-img"></div>
    <div class="dotastats-skel-block dotastats-skel-w80 dotastats-skel-h11"></div>
    <div class="dotastats-skel-stat-pair">
      <div class="dotastats-skel-block dotastats-skel-w32 dotastats-skel-h11"></div>
      <div class="dotastats-skel-block dotastats-skel-w36 dotastats-skel-h11"></div>
    </div>
  </div>
  <div class="dotastats-skel-divider">
    <div class="dotastats-skel-divider-line dotastats-skel-divider-line--left"></div>
    <div class="dotastats-skel-block dotastats-skel-w50 dotastats-skel-h9 dotastats-skel-radius-4"></div>
    <div class="dotastats-skel-divider-line dotastats-skel-divider-line--right"></div>
  </div>
  <div class="dotastats-skel-row dotastats-skel-row--main">
    <div class="dotastats-skel-block dotastats-skel-w52 dotastats-skel-h52 dotastats-skel-radius-4"></div>
    <div class="dotastats-skel-main-text">
      <div class="dotastats-skel-block dotastats-skel-w110 dotastats-skel-h13"></div>
      <div class="dotastats-skel-block dotastats-skel-w75 dotastats-skel-h11"></div>
      <div class="dotastats-skel-stat-row">
        <div class="dotastats-skel-block dotastats-skel-w55 dotastats-skel-h11"></div>
        <div class="dotastats-skel-block dotastats-skel-w55 dotastats-skel-h11"></div>
        <div class="dotastats-skel-block dotastats-skel-w55 dotastats-skel-h11"></div>
      </div>
    </div>
  </div>
</div>
